:root {
  --primary-black: #0A0A0A;
  --primary-grey: #222222;
  --light-grey: #C7C7C7;
  --primary-white: #FFFFFF;
  --primary-blue: #0498C9;
  --secondary-blue: #144893;
  --secondary-grey:#817E7E;
  --dark-purple: #434655;
  --red: #932314;

}